@using EntityLayer.Concrete
@model List<Evaluation>

<div class="tech-btm">
    <h3>Last Posts</h3>
    @foreach (var item in Model)
    {
        <div class="blog-grids row mb-3">
            <div class="col-md-5 blog-grid-left">
                <a href="/Evaluation/EvaluationReadAll/@item.EvaluationID">
                    <img src="@item.EvaluationImage" class="card-img-top img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-7 blog-grid-right">

                <h5>
                    <a href="/Evaluation/EvaluationReadAll/@item.EvaluationID">@item.EvaluationContent.Substring(0, item.EvaluationContent.Substring(0, 50).LastIndexOf(" "))...</a>
                </h5>
                <div class="sub-meta">
                    <span>
                        <i class="far fa-clock"></i>  @(((DateTime)item.EvaluationCreateDate).ToString("dd-MMM-yyyy"))
                    </span>
                </div>
            </div>           
        </div>
     }
    </div>